pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.0
recipe-scrapers==14.56.0
requests==2.32.3
beautifulsoup4==4.12.3
surprise==1.1.4
tensorflow==2.15.0
tensorflow-recommenders==0.7.3
nltk==3.8.1
spacy==3.7.4
